{% extends 'todo_list/base.html' %}
	

{% block content %}
	
	<h1>Todolist Titles...</h1>
<br/>
<table class="table table-striped table-hover table-bordered">
	{% for event in events %}
		<tr>
			<td>
				<strong>{{ event }}</strong>
			</td>
			{% if user.is_authenticated %}
			<td align="right">
				<a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update</a>
        <a href="{% url 'delete-event' event.id %}" class="btn btn-outline-secondary btn-sm">Delete</a>

			</td>
			{% endif %}
		</tr>
	{% endfor %}
</table>
<br/></br/>
{% endblock %}

      
  
  


